@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  background-color: #24282B;
  color: #e9e9e9;
  font-family: 'Raleway', sans-serif; }

body {
  font-size: 1em; }

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: #e9e9e9 solid 1px; }
  .sidenav #logo {
    padding: 10px 0 0 15px;
    width: 120%;
    border-bottom: #e9e9e9 solid 1px; }
  .sidenav a {
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    border-right: #24282B solid 2px;
    transition: 500ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 500ms;
    -webkit-transition-timing-function: ease-in-out; }
  .sidenav a:hover {
    border-right: #4BC0BF solid 2px; }
  .sidenav svg {
    fill: #e9e9e9;
    width: 65%;
    transition: 250ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 250ms;
    -webkit-transition-timing-function: ease-in-out; }
    .sidenav svg .st0 {
      transition: 250ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 250ms;
      -webkit-transition-timing-function: ease-in-out; }
  .sidenav svg:hover {
    fill: #4BC0BF; }
    .sidenav svg:hover .st0 {
      fill: #4BC0BF; }

main {
  margin-left: 100px; }

.topbar {
  height: 87px;
  padding: 30px 25px 25px 125px;
  border-bottom: #e9e9e9 solid 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .topbar .time, .topbar .clients_counter, .topbar .beer_counter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; }
    .topbar .time img, .topbar .clients_counter img, .topbar .beer_counter img {
      width: 20%;
      justify-self: end; }
    .topbar .time #current_time, .topbar .clients_counter #current_time, .topbar .beer_counter #current_time {
      display: grid;
      justify-self: start; }

.orders {
  margin: 25px;
  padding: 50px; }
  .orders h2 {
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 25px; }
  .orders .grid-orders {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .orders .que-info,
  .orders .in-serve-info {
    display: flex;
    align-content: space-between; }
  .orders .serve-order,
  .orders .order {
    color: darkgray;
    font-weight: 200;
    padding-left: .5em; }

.bartender-info {
  display: grid;
  padding: 75px 0 0 75px; }
  .bartender-info .bartender-basic {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: -20px; }
    .bartender-info .bartender-basic p {
      font-size: 0.7em;
      color: darkgray; }
  .bartender-info .each-bartender {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center; }
    .bartender-info .each-bartender svg {
      width: 40%; }
  .bartender-info .status {
    text-transform: lowercase; }
  .bartender-info .status-detail {
    opacity: 0; }

.beers {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .beers h3 {
    font-size: 1.2em; }
  .beers h5 {
    font-size: 0.9em;
    font-weight: 200; }
  .beers .beer-info {
    margin: 1em;
    border: darkgray solid 0.5px;
    border-radius: 20px; }
  .beers .basic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .beers img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center; }
  .beers #wrap {
    display: grid;
    grid-template-rows: 1fr 1fr; }
    .beers #wrap #beer-title {
      padding-top: 3em; }
      .beers #wrap #beer-title #beer-category {
        display: flex;
        justify-content: space-between;
        padding-top: 1em; }
    .beers #wrap .overall-impression {
      font-size: 0.9em;
      color: darkgray; }

.filter {
  display: flex;
  padding: 1em; }
  .filter a {
    padding-left: 1em;
    color: #e9e9e9;
    text-decoration: none; }
  .filter a:hover {
    text-decoration: none;
    color: #4BC0BF; }

.taps-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.tap-info {
  text-align: center;
  padding: 25px; }
  .tap-info h5 {
    font-size: 1.2em;
    color: darkgray; }
  .tap-info h3 {
    font-size: 1.5em; }
  .tap-info svg {
    width: 70%; }
    .tap-info svg .st0 {
      fill: #24282B; }
  .tap-info .in-use {
    opacity: 0; }

#myDoughnut {
  pointer-events: none; }

.hidden {
  display: none; }

.more {
  grid-row: span 2; }

.storage {
  padding: 50px; }

.fadeIn {
  animation: fadeIn 1s forwards;
  animation-delay: 0.2s; }

@keyframes fadeIn {
  to {
    opacity: 1; } }

.fadeOut {
  animation: fadeOut 1s forwards;
  animation-delay: 0.5s; }

@keyframes fadeOut {
  to {
    opacity: 0; } }
