$main-color:  #24282B;
$blue: #4BC0BF;
$purple: #985EFF;
$white:  #e9e9e9;
$red: #CC614C;
$green: #79CC6D;
$yellow: #F4EB71;
$orange: #F8BF61;
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    background-color: $main-color;
    color: $white;
    font-family: 'Raleway', sans-serif;
    
}
body {
    font-size: 1em;
    //green #79cc6d
    //red #cc614c
}
.sidenav{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: $white solid 1px;
    #logo{
        padding:10px 0 0 15px;
        width:120%;
        border-bottom: $white solid 1px;
    }
    a{
        padding: 20px 0px 20px 30px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        border-right: $main-color solid 2px;
        transition: 500ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 500ms;
        -webkit-transition-timing-function: ease-in-out;
    }
    a:hover{
        border-right: $blue solid 2px;
    }
    svg{ 
        fill: $white;
        width: 65%;
        transition: 250ms;
        transition-timing-function: ease-in-out;
        -webkit-transition: 250ms;
        -webkit-transition-timing-function: ease-in-out;
    }
    svg:hover{
        fill: $blue;
        .st0{
            fill: $blue;
        }
    }

}
main{
    margin-left: 100px;
}
.topbar{
    height: 87px;
    padding: 30px 25px 25px 125px;
    border-bottom: $white solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .time, .clients_counter, .beer_counter{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    img{
        width: 20%;
        justify-self: end;
    }
    #current_time{
        display: grid;
        justify-self: start;
    }
    }
}
.orders{
    margin: 25px;
    padding: 50px;
    h2{
        text-align: center;

    }
    .grid-orders{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .que-info,
    .in-serve-info{
        display: flex;
        align-content: space-between;
    }
    .serve-order,
    .order{
        padding-left: .5em;
    }
}
.bartender-info {
    display: grid;
    padding: 75px 0 0 75px;
    .bartender-basic{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-bottom: -20px;
        p{
            font-size: 0.7em;
            color: grey;
        }
    }
    .each-bartender{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        svg{
            width:40%;
        }
    }
    .status{
        text-transform: lowercase;
    }
}
.beers {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .beer-info{
        padding: 1.5em;
    }
    .basic{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .description{
        padding-left: 3em;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
    }
}
.dropbtn {
    background-color: $main-color;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $main-color;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
            color: $white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            :hover {background-color: #ddd;}
        }
    }
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: $blue;}

.taps-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.tap-info{
    text-align: center;
    svg{
        width: 70%;
        .st0{
            fill: $main-color;
        }
    }
}
.hidden {
    display: none;
}
.more{
    grid-row: span 2;
}